table.scrollBar {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

table th, td{
    text-align: center;
    padding: 8px;
    width:auto;
    min-width:200px;
    font-size:small;
}

/*tr:nth-child(even) {
    background-color: #f2f2f2
}*/
